* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cera Pro, sans-serif;
    
  }

.card_Container {
    display: flex;
    flex-direction: column;
    
   

    .card_Header {
     text-decoration: none;
     display: flex;
     flex-direction: column;
     width: 20rem;
     border: 1px solid #ccc;
     padding:0.5rem;
        
        svg {
            width: 30px;
            height: 30px;
        }

        .card_Img_Container{
            width: 100%;
            height: 15rem;
            display: flex;
            align-items: center;  
            justify-content: center;
                    

            img{
                width: 90%;
                padding:2rem 0 2rem 0;
                
            }

            
        }

        .card_Novità {
            padding: 1rem 0rem 0.5rem;
            
            span {
                font-size: 0.8rem;
                color: black;
                background-color: rgb(255, 207, 0);
                padding:0.36rem 0.8rem;
            }
        }
        &:hover{
            
            .card_Img_Container{
                position:relative;
                height: 15rem;
                width: 100%;
                
                img {
                    position: absolute;
                    transition: all 200ms ease-in;
                    width: 99%
                    
                }
                
            }
        }
    }

    h3 {
        padding-top: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        height: 2rem;
    }

    .card_Valutation {
        display: flex;
        padding: 1rem 0;
        width: 100%;
        

        img{
            
            width: 15px;
            height: 15px;
        }
    }

    .card_price {
        font-weight: bold;
        font-size: 1.2rem;
        padding-bottom: 0.4rem;
    }

    .card_button {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 100%;
        height: 4rem;
        background-color: rgb(253, 128, 36);
        border-radius: 4px;

        &:hover {
            border: 2px solid rgb(253, 128, 36);
            background-color: transparent;
        }

    }

}
