.carosellos_Container {
    width: 100vw;
    height: 35rem;
    display: flex;
    justify-content: center;

    ::-webkit-scrollbar-track {
        background-color: #ccc;
        border-radius: 25px;
      }
      
    ::-webkit-scrollbar {
        
        height: 0.5rem;
        
      }
      
    ::-webkit-scrollbar-thumb {
        background-color: rgb(78, 78, 78);
        border-radius: 25px;
        
      }
    


    .carosello {
        width: 73vw;
        // height: 45rem;
        display: flex;
        align-items: center;
        gap:2rem;
        overflow-x: scroll;
        
        
        
    }
    .carosButt {
        height: 100%;
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10rem;
        background-color: white;
        border: none;
        cursor: pointer;
        &:hover{
            .freccia{
                background-color: #ccc;
            }
        }
        &:active{
            .freccia{
                background-color: grey;
            }
        }


        .freccia{
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border:1px solid black;
            border-radius: 100px;
            padding : 5px;
        }
        #freccia_sx {
            transform: rotate(180deg);
        }
    }
    }
    
    