*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// -------- Marco


// -------- Vasco


// -------- Moreno


// -------- Andre

@media screen and (max-width: 360px) {
    // -------- Marco


    // -------- Vasco


    // -------- Moreno


    // -------- Andre
}

@media screen and (max-width: 820px) {
    // -------- Marco


    // -------- Vasco


    // -------- Moreno


    // -------- Andre
}